<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/member.css}">
</head>
<body>
<div id="wrapList">
    <div class="memberBox">
        <header>
            <h2>회원관리</h2>
            <a href="/member/"><img src="/images/home.png" alt="집아이콘"></a>
        </header>
        <table class="memberTable">
            <tr>
                <th>회원번호</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
            </tr>
            <tr>
                <td th:text="${member.id}"></td>
                <td th:text="${member.memberEmail}"></td>
                <td th:text="${member.memberPassword}"></td>
                <td th:text="${member.memberName}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>