<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/member.css}">
</head>
<body>
    <div id="wrap">
        <div class="memberBox">
            <header>
                <h2>로그인</h2>
                <a href="/member/"><img src="/images/home.png" alt="집아이콘"></a>
            </header>
            <form action="/member/login" method="post" class="form">
                <input type="text" placeholder="이메일" name="memberEmail" />
                <input type="password" placeholder="비밀번호" name="memberPassword" />
                <button type="submit" class="loginBtn"> LOG IN </button>
                <a href="/member/save"> <p class="memberBtn"> 회원 가입하기 </p></a>
            </form>
        </div>
    </div>
</body>
</html>